<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/playing.css">
    <title>Peace River Golf Course Home Page</title>
</head>

<body  style="background-image: url('../../../../img/main.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
            <div id="background">

                <div id="title4">Ready to delete this game?</div>

                <form id="form2" method="post">
                </form>
                <div id="button1">
                    <a class="button4" href="{% url 'PRGCdatabase:home' %}">Yes</a>
                    <a class="button5" href="{% url 'PRGCdatabase:home' %}">No</a>
                </div>
            </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
localStorage.clear();
});

$(function(){
         $('a.button4').click(function(){

          setTimeout(function(){
                console.log("Game 1 Deleted.");
                 link = "{% url 'PRGCdatabase:deletegame' %}";
                        $.ajax({
                          type:'POST',
                          url: link,
                          data:{
                               csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                        });
           }, 100);
         });
       });


$(function(){
         $('a.button4').click(function(){

          setTimeout(function(){
                console.log("Game 2 Deleted.");
                 link = "{% url 'PRGCdatabase:deletegame2' %}";
                        $.ajax({
                          type:'POST',
                          url: link,
                          data:{
                               csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                        });
           }, 300);
         });
       });



</script>