<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/home.css">
    <title>Peace River Golf Course Home Page</title>
</head>

<body  style="background-image: url('../../../../img/main.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<div id="title">Peace River Golf Course</div>

<div id="name"><span>Hello {{ user.first_name }} {{ user.last_name }}</span></div>

  <div class="button2">
      <a href="/PRGCdatabase/logout">
          <button type="button" class="logout" class="btn btn1">Log Out</button>
      </a>
  </div>

      <div class="button1">
        <a href="/PRGCdatabase/startnineholes/">
            <button type="button" class="startnineholes" class="btn btn1">Hole Assignment</button>
        </a>
    </div>

{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/newgame/">
          <button type="button" class="selectgame" class="btn btn1">Start New Game</button>
      </a>
  </div>
{% else %}
      <div class="button2" hidden>
      <a href="/PRGCdatabase/newgame/">
          <button type="button" class="selectgame" class="btn btn1">Start New Game</button>
      </a>
  </div>
{% endif %}
{% if request.user.is_superuser %}
    <div class="button1">
        <a href="/PRGCdatabase/holehandicaps/">
            <button type="button" class="sethole" class="btn btn1">Hole Handicaps</button>
        </a>
    </div>
{% else %}
    <div class="button1" hidden>
        <a href="/PRGCdatabase/holehandicaps/">
            <button type="button" class="sethole" class="btn btn1">Hole Handicaps</button>
        </a>
    </div>
{% endif %}
{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/newmember/">
          <button type="button" class="newmember" class="btn btn1">Add New Member</button>
      </a>
  </div>
{% else %}
  <div class="button1" hidden>
      <a href="/PRGCdatabase/newmember/">
          <button type="button" class="newmember" class="btn btn1">Add New Member</button>
      </a>
  </div>
{% endif %}
{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="editmember" class="btn btn1">Edit Member Info.</button>
      </a>
  </div>
{% else %}
  <div class="button1" hidden>
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="editmember" class="btn btn1">Edit Member Info.</button>
      </a>
  </div>
{% endif %}
{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="guest" class="btn btn1">Add Guest Info.</button>
      </a>
  </div>
{% else %}
  <div class="button1" hidden>
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="guest" class="btn btn1">Add Guest Info.</button>
      </a>
  </div>
{% endif %}
{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="editguest" class="btn btn1">Edit Guest Info.</button>
      </a>
  </div>
{% else %}
  <div class="button1" hidden>
      <a href="/PRGCdatabase/member_info_existing/">
          <button type="button" class="editguest" class="btn btn1">Edit Guest Info.</button>
      </a>
  </div>
{% endif %}
{% if request.user.is_superuser %}
  <div class="button1">
      <a href="/PRGCdatabase/admin/">
          <button type="button" class="admin" class="btn btn1">Admin.</button>
      </a>
  </div>
{% else %}
  <div class="button1" hidden>
      <a href="/PRGCdatabase/admin/">
          <button type="button" class="admin" class="btn btn1">Admin.</button>
      </a>
  </div>
{% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

</script>
</html>