<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../../img/favicon1.png"/>
    <link rel="stylesheet" href="../../../static/login/newgame.css">
    <title>Peace River Golf Course Home Page</title>
</head>

<body  style="background-image: url('../../../../img/main.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<div id="workarea1">
    <div class="container">
        <div class="container1">
        </div>
        <div class="container2">
        <form id="form3" method="post">
        <div id="menu2">
            <div id="header1">
                <div id="C">First Name</div>
                <div id="D">Last Name</div>
                <div id="E">Playing</div>

            </div>
        <div id="scroll">
            <form id="form1" method="post"


            >


                <div class="form-rowconinfo">
                    {% csrf_token %}
                    {% for obj in object_list %}
                    <div id="firstname">{{ obj.firstname }}</div>
                    <div id="lastname">{{ obj.lastname }}</div>
                    <div id="add1">
                        <input type="checkbox"class="status-toggle" memberid="{{ obj.memberid }}" {% if obj.is_completed %}checked{% endif %}>

                    </div>

                    {% endfor %}
                </div>
            </form>
            <div id="pag" class="pagination">
                <a href="/PRGCdatabase/home">
                    <button type="button" id="selectgame2" class="btn btn1">Home</button>
                </a>

                <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="object_list">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>
                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">next</a>
                    <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>

                <a href="/PRGCdatabase/selectgame">
                    <button type="button" id="selectgame1" class="btn btn1">Select Game</button>
                </a>


            </div>

        <form id="searchbar" class="form-inline my-2 my-lg-0">
            <input name="search"
                   id="search"
                   class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search Existing Members"
                   aria-label="Search"
                   >

            <button id="searchbutton" class="btn-success" type="submit">Search</button>
        </form>


        </div>
            <div class="selectgame">


            </div>

        </div>

        </form>

     </div>
<div class="container3">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script type="text/javascript">




$('input[type="checkbox"]').on('change', function() {
    // 1. Capture the specific ID of the checkbox that was changed
    var fieldId = this.getAttribute('memberid');

    // 2. Set the status variable based on whether it is checked or unchecked
    var status = this.checked ? 'checked' : 'unchecked';
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    //console.log(`Running dynamic query for Field ID: ${fieldId} (${status})`);

    // 3. Make a dynamic AJAX request

     if (status ==='checked') {
                // console.log("Checkbox is checked.");

                 $.ajax({
                    url: `/PRGCdatabase/${fieldId}/yesplaying/`,
                    type: 'POST',
                    data: {

                    csrfmiddlewaretoken: csrfToken
                },
                    success: function(res) { console.log("Query 1 success:"); }
                });


            }
            else {
                //console.log("Checkbox is unchecked.");

                $.ajax({
                    url: `/PRGCdatabase/${fieldId}/noplaying/`,
                    type: 'POST',
                    data: {

                    csrfmiddlewaretoken: csrfToken
                    },
                    success: function(res) { console.log("Query 1 success:"); }
                });

            }


});



</script>
</body>