<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/golfer.css">
    <title>Peace River Golf Course</title>
</head>
<body  style="background-image: url('../../../../img/main.JPG');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
                <div id="title">New Golfer Information</div>
                <div id="container">
                <form id="form2" method="post">
                    <br>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <div id="button">
                        <button id="btn1" type="submit" class="btn-success">ENTER</button>
                     </div>
                </form>
                </div>
      <div class="button1">
      <a href="/PRGCdatabase/home">
          <button type="button" id="home" class="btn btn1">Back to Home Page</button>
      </a>
  </div>
</body>
</html>
<script type="text/javascript">
</script>