<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="../../../../img/favicon1.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/selectgame.css">
    <title>Peace River Golf Course Home Page</title>
</head>

<body  style="background-image: url('../../../../img/main.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<div id="title">Peace River Golf Course</div>
<form class="form" method="post"
                    game1-url="{% url 'PRGCdatabase:gameid1' %}"
                    game2-url="{% url 'PRGCdatabase:gameid2' %}"
                    game3-url="{% url 'PRGCdatabase:gameid3' %}"
                    game4-url="{% url 'PRGCdatabase:gameid4' %}"
                    game5-url="{% url 'PRGCdatabase:gameid5' %}"
                    game6-url="{% url 'PRGCdatabase:gameid6' %}"
                    game7-url="{% url 'PRGCdatabase:gameid7' %}"


                >

  <div class="button2">

      <a href="/PRGCdatabase/startgame1">
          <button type="button" id="ninegroup" class="btn btn1">9 Holes Team Chicago Points</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame2">
          <button type="button" id="admin" class="btn btn2">18 Holes Individual Chicago Points</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame3">
          <button type="button" id="newmember" class="btn btn3">18 Holes Mixed Handicap</button>
    </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame4">
          <button type="button" id="logout" class="btn btn4">18 Holes Mens Handicap League</button>
          </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame5">
          <button type="button" id="logout" class="btn btn5">9 Holes Womans League</button>
          </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame6">
          <button type="button" id="logout" class="btn btn6">9 Holes Scramble</button>
          </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startgame1">
          <button type="button" id="logout" class="btn btn7">Another Game</button>
          </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/home">
          <button type="button" id="logout" class="btn btn8">Home Page</button>
      </a>
  </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

   $('.btn.btn1').click(function(){
        setTimeout(function(){
            console.log('Game 1');
            var url = $(".form").attr("game1-url");
            req = $.ajax({
                   url: url,
                });
        },500);
    });

       $('.btn.btn2').click(function(){
        setTimeout(function(){
            console.log('Game 2');
            var url = $(".form").attr("game2-url");
            req = $.ajax({
                   url: url,
                });
        },500);
    });

       $('.btn.btn3').click(function(){
        setTimeout(function(){
            console.log('Game 3');
            var url = $(".form").attr("game3-url");
            req = $.ajax({
                   url: url,
                });
        },500);
    });

       $('.btn.btn4').click(function(){
        setTimeout(function(){
            console.log('Game 4');
            var url = $(".form").attr("game4-url");
            req = $.ajax({
                   url: url,
                });
        },500);
    });

       $('.btn.btn5').click(function(){
        setTimeout(function(){
            console.log('Game 5');
            var url = $(".form").attr("game5-url");
            req = $.ajax({
                   url: url,
                });
        },100);
    });

       $('.btn.btn6').click(function(){
        setTimeout(function(){
            console.log('Game 6');
            var url = $(".form").attr("game6-url");

            req = $.ajax({
                   url: url,
                });
        },500);
    });

       $('.btn.btn7').click(function(){
        setTimeout(function(){
            console.log('Game 7');
            var url = $(".form").attr("game7-url");
            req = $.ajax({
                   url: url,
                });
        },500);
    });


</script>
</body>
</html>