<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/selectgame.css">
    <title>Peace River Golf Course Home Page</title>
</head>

<body  style="background-image: url('../../../../img/main.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<div id="title">Peace River Golf Course</div>
  <div class="button2">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="ninegroup" class="btn btn1">9 Holes of Golf</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/startnineholes">
          <button type="button" id="admin" class="btn btn1">18 Holes Handicap</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="newmember" class="btn btn1">9 Holes Scramble</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="logout" class="btn btn1">18 Holes Chicago Points</button>
      </a>
  </div>


  <div class="button1">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="logout" class="btn btn1">18 Mens League</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="logout" class="btn btn1">9 Holes Womens League</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/ninegroupassign">
          <button type="button" id="logout" class="btn btn1">Another Game</button>
      </a>
  </div>

  <div class="button1">
      <a href="/PRGCdatabase/home">
          <button type="button" id="logout" class="btn btn1">Home Page</button>
      </a>
  </div>
</body>
</html>