/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


div.container{
    width:100%;
    height:111vh;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}

#title2{
    height:1.5em;
    width: 100%;
    padding-top:0px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    text-align:center;
    font-size: calc(3vw + .5vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;
}

div.container1{
    flex: .2;
}

div.container2{
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.container3{
    flex: .5;
}

#line1{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

#line2, #line3, #line4{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#line5{
    display: flex;
    justify-content: center;
}



div#menu3, div#menu4, div#menu5, div#menu6, div#menu7, div#menu8, div#menu9, div#menu10, div#menu11 {
    width: 250px;
    height: 245px;
    display:block;
    font-size: 0vw;
    background: lightgreen;
    position:relative;
    overflow:auto;
}

div#menu3, div#menu6, div#menu9{
    margin-right: 90px;
    height: 245px;
}

div#menu5, div#menu8, div#menu11{
    margin-left: 90px;
}


#box1_id, #box2_id, #box3_id, #box4_id, #box5_id,
#box6_id, #box7_id, #box8_id, #box9_id, #box10_id,
#box11_id, #box12_id, #box13_id, #box14_id, #box15_id,
#box16_id, #box17_id, #box18_id, #box19_id, #box20_id,
#box21_id, #box22_id, #box23_id, #box24_id, #box25_id,
#box26_id, #box27_id, #box28_id, #box29_id, #box30_id,
#box31_id, #box32_id, #box33_id, #box34_id, #box35_id,
#box36_id, #box37_id, #box38_id, #box39_id, #box40_id,
#box41_id, #box42_id, #box43_id, #box44_id, #box45_id{
    width: 20px;
    text-align: center;
    margin-left: 10px;
}


#id_box1, #id_box2, #id_box3, #id_box4, #id_box5,
#id_box6 ,#id_box7, #id_box8, #id_box9, #id_box10,
#id_box11 ,#id_box12, #id_box13, #id_box14, #id_box15,
#id_box16 ,#id_box17, #id_box18, #id_box19, #id_box20,
#id_box21 ,#id_box22, #id_box23, #id_box24, #id_box25,
#id_box26 ,#id_box27, #id_box28, #id_box29, #id_box30,
#id_box31 ,#id_box32, #id_box33, #id_box34, #id_box35,
#id_box36 ,#id_box37, #id_box38, #id_box39, #id_box40,
#id_box41 ,#id_box42, #id_box43, #id_box44, #id_box45{
    width: 58px;
    margin-left: 4px;
    display: flex;
}







#id_game1{
    width: 28px;
}

#game1_id{
    width: 5px;
    text-align: center;
    margin-left: 2px;
}


#id_pts1, #id_pts2, #id_pts3, #id_pts4, #id_pts5,
#id_pts6, #id_pts7, #id_pts8, #id_pts9{
    width: 131px;
}


.pts1{
    margin-left: 0px;

}

#pts1_id, #pts2_id, #pts3_id, #pts4_id, #pts5_id,
#pts6_id, #pts7_id, #pts8_id, #pts9_id{
    width:  20px;
    text-align: center;
    margin-left: 25px;
}

.T{
    display: inline-block;
    width: 100%;
    padding-bottom:2px;
    font-size: calc( .75vw + .5vh + .25vmin);
    text-align: center;
}


.form7a{

}


.hole1{
    width: 238px;
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
}

.hole1a{
    pointer-events:none;
}

#id_handicap{
    width: 35px;
    margin-left: 10px;
}


select#id_memberid, select#id_memberid2, select#id_memberid3, select#id_memberid4, select#id_memberid5,
 select#id_memberid221, select#id_memberid222, select#id_memberid223, select#id_memberid224, select#id_memberid225,
 select#id_memberid331, select#id_memberid332, select#id_memberid333, select#id_memberid334, select#id_memberid335,
 select#id_memberid441, select#id_memberid442, select#id_memberid443, select#id_memberid444, select#id_memberid445,
 select#id_memberid551, select#id_memberid552, select#id_memberid553, select#id_memberid554, select#id_memberid555,
 select#id_memberid661, select#id_memberid662, select#id_memberid663, select#id_memberid664, select#id_memberid665,
 select#id_memberid771, select#id_memberid772, select#id_memberid773, select#id_memberid774, select#id_memberid775,
 select#id_memberid881, select#id_memberid882, select#id_memberid883, select#id_memberid884, select#id_memberid885,
 select#id_memberid991, select#id_memberid992, select#id_memberid993, select#id_memberid994, select#id_memberid995{
    width: 174px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px;
    border-color: black;
    color: black;
}






div#header1{
    width:100%;
    display:flex;
}

div#A{
    display:inline-block;
    width: 51px;
    margin-top:0px;
    padding-top:7px;
    padding-bottom:0px;
    font-size: calc(.5vw + .5vh + .25vmin);
    text-align:center;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    color:#a9a9a9;
    background:#505050;
}

div#C{
    display: inline-block;
    width: 170px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: calc(.65vw + .5vh + .25vmin);
    text-align: center;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight: bold;
    color:#a9a9a9;
    background:#505050;
}
div#E{
    display: inline-block;
    width: 85px;
    padding-top: 7px;
    padding-bottom:0px;
    font-size: calc(.5vw + .5vh + .25vmin);
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    font-weight: bold;
    color:#a9a9a9;
    background:#505050;
}

div#playerhandicap{
    display:inline-block;
    width: 52px;
    padding-top:3px;
    padding-bottom:3px;
    font-size: calc(.5vw + .5vh + .25vmin);
    text-align:center;
    font-weight:bold;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    box-sizing: border-box;
}

div#firstname{
    display:inline-block;
    width: 173px;
    padding-top:3px;
    padding-bottom:3px;
    font-size: calc(.5vw + .5vh + .25vmin);
    text-align:center;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    font-weight:bold;
    box-sizing: border-box;
}
#id_firstname{
    display:inline-block;
    width: 84px;
    padding-bottom:0.0%;
    font-size: calc(.5vw + .95vh + .25vmin);
    text-align:center;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    box-sizing: border-box;
    border: none;
}

a#id{
    display:inline-block;
    width: 54px;
    margin-top:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-size: calc(.5vw + .5vh + .25vmin);
    text-align:center;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    font-weight:bold;
    box-sizing: border-box;
}

div#menu2 {
    height:470px;
    width: 312px;
    display:block;
    font-size: 0vw;
    background: lightgreen;
    position:relative;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.header3{
    width:100%;
    display:flex;
}


.C{
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: calc( 1vw + .5vh + .25vmin);
    text-align: center;
    border: 2px solid #c0c0c0;
    font-weight: bold;
    color:#a9a9a9;
    background:#505050;
}

.form3, .form4, .form5, .form6, .form7, .form8, .form9, .form10, .form11, .form12, .form13, .form14, .form15, .form16,
.form17, .form18, .form19, .form20, .form21, .form22, .form23, .form24, .form25, .form26, .form27, .form28, .form29,
 .form30, .form31, .form32, .form33, .form34, .form35, .form36, .form37, .form38, .form39, .form40, .form41, .form42,
  .form43, .form44, .form45, .form46, .form47{
    width: 100%;
    height: 25px;
    display: flex;
    margin-top: 5px;

}


.firstname{
    display:inline-block;
    width: 173px;
    height: 28px;
    padding-top:3px;
    font-size: calc(.7vw + .5vh + .25vmin);
    text-align:center;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    font-weight:bold;
    box-sizing: border-box;
}


#home1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.button1{

    width: 100%;
    margin-top: 22px;
    padding-top:0px;
    text-align:center;
}


.button2{
    width: 100%;
    padding-top:0px;
    margin-top: 22px;
    text-align:center;
}

button#holeassignment.btn.btn1{
    border: 2px solid black;
    border-radius: 2px;
    background: white;
    width: 300px;
    font-size: calc(.95vw + .5vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    transition: 0.6s;
   text-align: center;
    overflow: hidden;
    padding:8px 5px;
}

a#back{
    color: #000000;
}

a#back:hover{
    color: white;
    background: grey;
}

.home1{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 3px;
}

.back{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 0px;
}



button#selectgame.btn.btn1{
    border: 2px solid black;
    border-radius: 2px;
    background: white;
    width: 168px;
    font-size: calc(.95vw + .5vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7%;
    transition: 0.6s;
   text-align: center;
    overflow: hidden;
    padding:8px 5px;
    color: black;

}

button.backpage{
    border: 2px solid black;
    border-radius: 2px;
    background: white;
    width: 82px;
    font-size: calc(.95vw + .5vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    transition: 0.6s;
   text-align: center;
    overflow: hidden;
    padding:8px 5px;
    color: black;

}

button#resetDropdown{
    border: 2px solid black;
    border-radius: 2px;
    background: white;
    width: 169px;
    font-size: calc(.95vw + .5vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    transition: 0.6s;
   text-align: center;
    overflow: hidden;
    padding:8px 5px;
    color: black;

}

.button.row{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.startround1, .startround2, .startround3, .startround4, .startround5, .startround6{
    text-align: center;
    margin-top: 9px;
    margin-bottom: 10px;
    display: flex;
}



#hole1.btn.btn1, #startround2.btn.btn1, #startround3.btn.btn1, #startround4.btn.btn1, #startround5.btn.btn1
, #startround6.btn.btn1, #startround7.btn.btn1, #startround8.btn.btn1, #startround9.btn.btn1{
    font-size: 17px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    border-radius: 0px;
    border-color: black;
    color:black;
    margin-left: 16px;
    width: 120px;
}

